url: 'jojimenezt.github.io'
baseurl: '/'
permalink: pretty
title: 'Electric Dragon Motors'

logo:
  mobile: "images/Electric Dragon Motors isotipo.png"
  mobile_height: "32px"
  mobile_width: "32px"
  desktop: "images/logo/Electric Dragon Motors logotipo.png"
  desktop_height: "32px"
  desktop_width: "120px"

home: 
  limit_services: 6

collections:
  products:
    output: true
    sort_by: weight
  modules:
    output: true
    sort_by: weight
  services:
    output: true
    sort_by: weight
  team:
    output: true

defaults:
  - scope:
      path: ""
      type: "services"
    values:
      layout: "service"
  - scope:
      path: ""
      type: "products"
    values:
      layout: "product"
  - scope:
      path: ""
      type: "modules"
    values:
      layout: "module"
  - scope:
      path: ""
      type: "team"
    values:
      layout: "team"

sass:
  style: compressed # possible values: nested expanded compact compressed

plugins:
  - jekyll-environment-variables

exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - LICENSE.md
  - LICENSE
  - README.md
